* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
a,
a:active {
  text-decoration: none;
}
.df-navbar {
  margin: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: auto;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}
nav {
  float: left;
}

nav ul {
  list-style: none;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  display: block;
  padding: 10px;
  color: #000000;
  text-decoration: none;
}

nav ul li:hover {
  background: #887c83;
}

.container-fluid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "header header header logo "
    "section1 section1 section1 section3 "
    "section2 section2 section2 section3"
    "footer footer footer footer"
}

.containerfor {
  width: 90%;
  padding: 0%;
  text-align: center;
}

logo {
  grid-area: logo;
}

header {
  grid-area: header;
  width: 90%;

}

.section1 {
  grid-area: section1;
  text-align: center;
}

.section2 {
  grid-area: section2;
}

.section3 {
  padding: 10%;
  grid-area: section3;
  text-align: center;
  text-decoration: #000000;
}

.footer {
  grid-area: footer;
}

.logo {
  float: right;
  margin-top: -85px;
  margin-left: 250px;
  margin-right: -15px;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: center;
  background: deepskyblue;
}



.df-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.bg-footer {
  padding: 10px;
  margin: 5vh;
  width: auto;
  display: flex;
}

.contac a i:hover {
  transform: scale(2);
  transition: all 1s ease;
}
.section3:hover {
  transform: scale(2,1)}

.header-logo img:hover {
  transform: rotate(50deg);
}

nav:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.section1:hover {
  transform: translate(20px, 20px);
}

.section2:hover {
  transform: translate(20px, 20px);
}

body {
  width: 90%;
  background: #8360c3;
  background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);
  background: linear-gradient(to right, #2ebf91, #8360c3);
}

/* @media all and (min-width: 600px) { */
  .aside {
    flex: 1 0 0;
  }
}

/* @media all and (min-width: 800px) { */
  /* .main { */
    /* flex: 3 0px; */
  /* } */

  /* .header { */
    /* */
    /* order: 1; */
  }
/*  */

  /* .section1 { */
    /* order: 2; */
  }

  /* .section2 { */
    /* order: 3; */
  }

  /* .footer { */
    /* order: 4; */
  }
/* } */
